p {
    margin-bottom:0;
}

div.form-field-help-text {
    padding:0 1em 0 1em;
}

div.formsetaccessory--titlediv {
    display:flex;
}

div.formsetaccessory div {
    padding-left: 1em;
}

div.formsetaccessory div:first-child {
    padding-left: 0;
}


button.formsetaccessory__button {
    margin: auto 1em auto 1em;
    font-size:.8em;
}

input.widthshort {
    width:15%;
}
input.widthlong {
    width:75%;
}
input.widthxlong {
    width:100%;
}
textarea.widthlong {
    width:75%;
}
textarea.widthxlong {
    width:95%;
}
