{% include "django/forms/widgets/date.html" %}

<script>

  widget=document.getElementById('{{ widget.attrs.id|safe }}')
  inp_duedate = document.getElementById('{{ widget.attrs.id }}')

  {% if widget.buttons.all or widget.buttons.weeks or widget.buttons.increase_week or widget.buttons.increases %}
    button = document.createElement('button')
    button.type="button"
    button.dataset.target = widget.id
    button.dataset.days = "7"
    button.classList.add("adjust-date")
    button.innerHTML = '>>'
    inp_duedate.parentNode.insertBefore(button, inp_duedate.nextSibling )
  {% endif %}
  {% if widget.buttons.all or widget.buttons.weeks or widget.buttons.decrease_week or widget.buttons.decreases %}
    button = document.createElement('button')
    button.type="button"
    button.dataset.target = widget.id
    button.dataset.days = "-7"
    button.classList.add("adjust-date")
    button.innerHTML = '<<'
    inp_duedate.parentNode.insertBefore(button, inp_duedate )
  {% endif %}
  {% if widget.buttons.all or widget.buttons.days or widget.buttons.increase_day or widget.buttons.increases %}
    button = document.createElement('button')
    button.type="button"
    button.dataset.target = widget.id
    button.dataset.days = "1"
    button.classList.add("adjust-date")
    button.innerHTML = '>'
    inp_duedate.parentNode.insertBefore(button, inp_duedate.nextSibling )
  {% endif %}
  {% if widget.buttons.all or widget.buttons.days or widget.buttons.decrease_day or widget.buttons.decreases %}
    button = document.createElement('button')
    button.type="button"
    button.dataset.target = widget.id
    button.dataset.days = "-1"
    button.innerHTML = '<'
    button.classList.add("adjust-date")
    inp_duedate.parentNode.insertBefore(button, inp_duedate )
  {% endif %}

  {% if widget.buttons.all or widget.buttons.today %}
    button = document.createElement('button')
    button.id = widget.id + '_button'
    button.type = "button"
    button.dataset.target = widget.id
    button.dataset.today = "true"
    button.innerText='Today'
    button.classList.add("adjust-date")
    widget.parentNode.insertBefore(button,widget.nextSibling)
  {% endif %}

  buttons = document.getElementsByClassName("adjust-date")

  for(button of buttons) {

    button.addEventListener("click", function(e){
      e.preventDefault
      if(e.target.dataset.today=="true") {
        adjustDate(e.target.dataset.target, 0, true)
      } else {
        adjustDate(e.target.dataset.target, e.target.dataset.days)
      }
    })
  }
</script>
