{% include "django/forms/widgets/date.html" %}

<script>

  widget=document.getElementById('{{ widget.attrs.id|safe }}')
  inp_duedate = document.getElementById('{{ widget.attrs.id }}')

  {% if "all" in widget.buttons or "years" in widget.buttons or "increase_year" in widget.buttons or "increases" in widget.buttons %}
    button = document.createElement('button')
    button.type="button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.days= "0"
    button.dataset.months= "12"
    button.classList.add("adjust-date")
    button.innerHTML = 'y>'
    inp_duedate.parentNode.insertBefore(button, inp_duedate.nextSibling )
  {% endif %}
  {% if "all" in widget.buttons or "years" in widget.buttons or "decrease_year" in widget.buttons or "decreases" in widget.buttons %}
    button = document.createElement('button')
    button.type="button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.days = "0"
    button.dataset.months = "-12"
    button.classList.add("adjust-date")
    button.innerHTML = '&lt;y'
    inp_duedate.parentNode.insertBefore(button, inp_duedate )
  {% endif %}
  
  {% if "all" in widget.buttons or "months" in widget.buttons or "increase_month" in widget.buttons or "increases" in widget.buttons %}
    button = document.createElement('button')
    button.type="button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.days= "0"
    button.dataset.months= "1"
    button.classList.add("adjust-date")
    button.innerHTML = 'm>'
    inp_duedate.parentNode.insertBefore(button, inp_duedate.nextSibling )
  {% endif %}
  {% if "all" in widget.buttons or "months" in widget.buttons or "decrease_month" in widget.buttons or "decreases" in widget.buttons %}
    button = document.createElement('button')
    button.type="button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.days = "0"
    button.dataset.months = "-1"
    button.classList.add("adjust-date")
    button.innerHTML = '&lt;m'
    inp_duedate.parentNode.insertBefore(button, inp_duedate )
  {% endif %}
  {% if "all" in widget.buttons or "weeks" in widget.buttons or "increase_week" in widget.buttons or "increases" in widget.buttons %}
    button = document.createElement('button')
    button.type="button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.days = "7"
    button.dataset.months = "0"
    button.classList.add("adjust-date")
    button.innerHTML = 'w>'
    inp_duedate.parentNode.insertBefore(button, inp_duedate.nextSibling )
  {% endif %}
  {% if "all" in widget.buttons or "weeks" in widget.buttons or "decrease_week" in widget.buttons or "decreases" in widget.buttons %}
    button = document.createElement('button')
    button.type="button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.days = "-7"
    button.dataset.months = "0"
    button.classList.add("adjust-date")
    button.innerHTML = '&lt;w'
    inp_duedate.parentNode.insertBefore(button, inp_duedate )
  {% endif %}
  {% if "all" in widget.buttons or "days" in widget.buttons or "increase_day" in widget.buttons or "increases" in widget.buttons %}
    button = document.createElement('button')
    button.type="button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.days = "1"
    button.dataset.months = "0"
    button.classList.add("adjust-date")
    button.innerHTML = 'd>'
    inp_duedate.parentNode.insertBefore(button, inp_duedate.nextSibling )
  {% endif %}
  {% if "all" in widget.buttons or "days" in widget.buttons or "decrease_day" in widget.buttons or "decreases" in widget.buttons %}
    button = document.createElement('button')
    button.type="button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.days = "-1"
    button.dataset.months = "0"
    button.innerHTML = '&lt;d'
    button.classList.add("adjust-date")
    inp_duedate.parentNode.insertBefore(button, inp_duedate )
  {% endif %}

  {% if "all" in widget.buttons or "today" in widget.buttons %}
    button = document.createElement('button')
    button.id = widget.id + '_button'
    button.type = "button"
    button.class="touglates_date_adjust"
    button.dataset.target = widget.id
    button.dataset.today = "true"
    button.innerText='Today'
    button.classList.add("adjust-date")
    widget.parentNode.insertBefore(button,widget.nextSibling)
  {% endif %}

  buttons = document.getElementsByClassName("adjust-date")

  for(button of buttons) {

    button.addEventListener("click", function(e){
      e.preventDefault
      if(e.target.dataset.today=="true") {
        adjustDate(e.target.dataset.target, 0, 0, true)
      } else {
        adjustDate(e.target.dataset.target, e.target.dataset.days, e.target.dataset.months)
      }
    })
  }
</script>
