
  {% load static %}
  <input id="display_{{ widget.attrs.id }}">
  <br id="br_{{ widget.attrs.id }}">
  <select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
    <optgroup label="{{ group_name }}">{% endif %}{% for widget in group_choices %}
    {% include widget.template_name %}{% endfor %}{% if group_name %}
    </optgroup>{% endif %}{% endfor %}
  </select>
  <button id="clear_{{ widget.attrs.id }}"><img src="{% static 'touglates/clear_icon.ico' %}" style="height:.8em;" title="clear" alt_text="clear"></button>

<script>

  var select_{{ widget.attrs.id }} = document.getElementById("{{ widget.attrs.id }}")
  var br_{{ widget.attrs.id }} = document.getElementById("br_{{ widget.attrs.id }}")
  var display_{{ widget.attrs.id }} = document.getElementById("display_{{ widget.attrs.id }}")
  var clear_{{ widget.attrs.id }} = document.getElementById("clear_{{ widget.attrs.id }}")
  var {{ widget.attrs.id }}_initial_display = select_{{ widget.attrs.id }}.style.display
  var br_{{ widget.attrs.id }}_initial_display = br_{{ widget.attrs.id }}.style.display

  intiateDropdown( "{{ widget.attrs.id }}" )

  display_{{ widget.attrs.id }}.addEventListener("click", function(){
    showHide( "{{ widget.attrs.id }}" )
  })
  display_{{ widget.attrs.id }}.addEventListener("keydown", function(){
    showdropdown( "{{ widget.attrs.id }}" )
  })
  display_{{ widget.attrs.id }}.addEventListener("focusin", function(){
    display_{{ widget.attrs.id }}.value=""
  })
  select_{{ widget.attrs.id }}.addEventListener("change", function(){
    updateDisplay( "{{ widget.attrs.id }}" )
  })
  select_{{ widget.attrs.id }}.addEventListener("click", function(){
    updateDisplay( "{{ widget.attrs.id }}" )
  })
  clear_{{ widget.attrs.id }}.addEventListener("click", function(e){
    e.preventDefault()
    clearselections( "{{ widget.attrs.id }}" )
  })

  updateDisplay( "{{ widget.attrs.id }}" )
  showHide( "{{ widget.attrs.id }}", "hide")



</script>
