.priority0 {
    font-size:1.7em;
}
.priority1 {
    font-size:1.5em;
}
.priority2 {
    font-size:1.3em;
}
.priority3 {
    font-size:1.1em;
}
.priority4 {
    font-size:.9em;
}
.priority5 {
    font-size:.8em;
}
.priority6 {
    font-size:.7em;
}
.priority7 {
    font-size:.6em;
}
.priority8 {
    font-size:.5em;
}
.priority9 {
    font-size:.4em;
}

a.title {
    text-decoration: none;
}
